/*********************************
		ResponsiveNess
*********************************/

@media screen and (min-width: 480px){

.logo{
	width: 20%;
	margin: 0 40%;

}


.search {
	display: block;
	width: 45%;
	height: 25px;
	margin:0 auto 15px;
	border-color:0.1px #b2b2b2;
}
}



